<nav>
    <a href="/"><h2>Blog | Semih</h2></a>
    <ul>
        <li><a href="/shopping">Home</a></li>
        <li><a href="/shopping/create">Create</a></li>
        <li><a href="/about">About</a></li>
       
    </ul>
</nav>