<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %>
<body>
    <%- include("partials/nav.ejs") %>
    <main>
    <p>My FullName is Semih Berat Erdogan and I am Computer Engineering student at Harran University. I improve myself on backend development, IOT, and Robotic.</p>
    </main>
    <%- include("partials/footer.ejs") %>
</body>
</html>